.productor {
    margin-top: -25px;
}   

.informacion {
    color: #3D5A6C;
}
.informacion h3 {
    margin-top: 0;
}

.avatar {
    margin-top: 10px;
    display: flex;
}

.avatar h2 {
    margin: 0px;
}

.posicion {
    position: relative;
    top: -20px;
}

.avatarInformation {
    margin-left: 10px;
}

.avatarInformation p {
    margin: 0;
}

.busc {
    z-index: 2;
}

.ul {
    padding: 0;
    margin-top: 20px;
  }
  
.li {
    margin-top: 20px;
    width: 100%;
    list-style: none;
}