@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html,


body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/* .list {
  padding: 0;
  list-style-type: none;
} */

/* .list-item {
  padding: 5px 0;
} */

/* .list-item--active {
  color: blue;
  transition: color 1500ms;
} */

/* This fires as soon as the element enters the dorm */
.list-transition-enter,
.list-transition-appear {
  /*We give the list the initial dimension of the list button*/
  top: -20px;
  width: 100%;
  max-height: 40px;
  color: transparent;
  /* background-color: rgba(156, 151, 151, 0.199); */
}
/* This is where we can add the transition*/
.list-transition-enter-active,
.list-transition-appear-active {
  top: 45px;
  width: 100%;
  /* max-height: 200px; */
  /* background-color: rgba(156, 151, 151, 0.199); */
  transition: all 600ms;
}

.list-transition-enter,
.list-transition-appear .box-transition{
  margin-top: -100px;
}

.list-transition-enter-active,
.list-transition-appear-active .box-transition {
  margin-top: 0;
  transition: all 300ms;

}

/* This fires as soon as the this.state.showList is false */
.list-transition-exit {
  top: 45px;
  width: 100%;
  max-height: 200px;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
  top: -20px;
  width: 100%;
  max-height: 5px;
  color: transparent;
  /* z-index: -3; */
  transition: all 300ms;
}

.list-transition-exit-active .box-transition{
  margin-top: -118px;
  transition: all 300ms;
}
