@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.light-body {
  --theme-background: #fcfcfc;
  --theme-principal-header: linear-gradient(140deg, rgba(61, 90, 108,1) 0%,rgba(61, 90, 108,1) 50%,rgba(61, 90, 108,0.9) 51%,rgba(61, 90, 108,0.9) 100%);
  --theme-letterSmall: #A7C9B9;
  --theme-principal-cuentas: linear-gradient(140deg, rgba(54, 88, 72 ,1) 0%,rgba(54, 88, 72 ,1) 42%,rgba(54, 88, 72 ,0.9) 42%,rgba(54, 88, 72 ,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  --theme-principal-objetivo: linear-gradient(180deg, #F96000 0%, #FF0000 100%);
  --theme-principal-caucionesApalancamiento: #354F5E;
  --theme-principal-caucionesSub: linear-gradient(180deg, #DBA000 0%, #F96000 100%);
  --theme-principal-apalancamientoSub: linear-gradient(180deg, #F96000 0%, #FF0000 100%);
  --theme-principal-compliance: linear-gradient(140deg, rgba(119, 103, 112,1) 0%,rgba(119, 103, 112,1) 41%,rgba(119, 103, 112,0.9) 42%,rgba(119, 103, 112,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  --theme-principal-dinero: #FF0000;

  /* Disponibles*/

  --theme-disponibles-filtros: rgba(220, 234, 227, 0.35)
}

.dark-body {
  --theme-background: #1E2320;
  --theme-principal-header: linear-gradient(140deg, rgba(61, 90, 108,1) 0%,rgba(61, 90, 108,1) 50%,rgba(61, 90, 108,0.9) 51%,rgba(61, 90, 108,0.9) 100%);
  --theme-letterSmall: red;
  --theme-principal-cuentas: linear-gradient(140deg, rgba(54, 88, 72 ,1) 0%,rgba(54, 88, 72 ,1) 42%,rgba(54, 88, 72 ,0.9) 42%,rgba(54, 88, 72 ,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  --theme-principal-objetivo: linear-gradient(180deg, #F96000 0%, #FF0000 100%);
  --theme-principal-caucionesApalancamiento: #354F5E;
  --theme-principal-caucionesSub: linear-gradient(180deg, #DBA000 0%, #F96000 100%);
  --theme-principal-apalancamientoSub: linear-gradient(180deg, #F96000 0%, #FF0000 100%);
  --theme-principal-compliance: linear-gradient(140deg, rgba(119, 103, 112,1) 0%,rgba(119, 103, 112,1) 41%,rgba(119, 103, 112,0.9) 42%,rgba(119, 103, 112,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  --theme-principal-dinero: #FF0000;

  /* Disponibles*/

  --theme-disponibles-filtros: rgba(220, 234, 227, 0.5)
}
html,


body {
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: default;
}


html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: var(--theme-background) !important;

}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/* Transition pagina principal componente disponibles */

.list-transition-enter,
.list-transition-appear .box-transition{
  margin-top: -100px;
  z-index: -2;
}

.list-transition-enter-active,
.list-transition-appear-active .box-transition {
  margin-top: 0px;
  z-index: -2;
  transition: all 300ms;
}

.list-transition-exit-active .box-transition{
  margin-top: -130px;
  z-index: -2;
  transition: all 300ms;
}

.imgBack {
  background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url('https://ieb-peralesazarel-gmailcom.vercel.app/grafico.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}
/*  */