.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.container {
  padding-left: 25px;
}

@media only screen and (max-width: 991px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 0
  }
}