.container {
    max-width: 100%;
    height: 100%;
    padding: 0 2rem;
    margin: 1rem;
}

.logo {
    text-align: center;
}

.nav {
    background: linear-gradient(153.08deg, rgba(114, 169, 143, 0.9) 14.3%, rgba(67, 58, 63, 0.9 ) 87.79%);  padding: 5px;
    border-radius: 30px;
    padding: 0 10px;
    min-width: 40px;
    min-height: 600px;
    margin-top: 30px;
    word-wrap: break-word;
}

.cerrar {
    display: none;
}

.menuIcons {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: #646363;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.contenedorHelp {
    margin-top: 250px;
}

.menuHelp {
    text-align: center;
    height: 200%;
    border-radius: 100px;
    margin-bottom: -20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.center {
    margin: 0 auto;
}


.ul {
    padding: 0;
    margin-top: 0;
  }
  
.li {
    color: #fff;
    list-style: none;
    margin-top: 0;
    text-align: center;
}

.li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nameNav {
    font-size: 14px;
    font-weight: bold;
}


@media only screen and (min-width: 1400px) {
    .contenedorHelp {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 1120px) {

}

@media only screen and (max-width: 992px) {
    .container{
        margin-top: 0;
    }
    .nav {
        min-height: 100px;
        margin-top: 0;
        border-radius: 0 0 19px 19px;
    }

    .isMobileHeader {
        display: flex;
        justify-content: space-between;
    }

    .isMobileBody {
        padding: 0;
        display: none;
        position: fixed;
        width: 35%;
        height: 100%;
        background: linear-gradient(153.08deg, rgba(114, 169, 143, 1) 14.3%, rgba(67, 58, 63, 1 ) 87.79%);  padding: 5px;
        z-index: 2;
        margin-left: -10px;
    }

    .logo{
        width: 60px;
        height: 55px;
    }
    .ul {
        position: absolute;
        margin-top: 80px;
    }
    .container {
        padding: 0 !important;
    }
    .menuHelp {
        position: absolute;
        margin-top: 250%;
        margin-left: 35%;
    }

    .cerrar {
        display: block;
        position: absolute;
        text-align: right;
        width: 85%;
        font-size: 20px;
    }
  }
